# Python cache

**pycache**/
*.py[cod]
*.pyo

# Virtual environment

.venv/
venv/
env/

# Environment variables

.env

# Database

*.db
*.sqlite3

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# IDE / Editor

.vscode/
.idea/

# Test / coverage

.pytest_cache/
.coverage
htmlcov/

# Build files

build/
dist/
*.egg-info/

# Migrations (optional, if using Alembic later)

#migrations/

# Temporary files

*.swp
*.swo


